<div (click)="onClickDiv($event)" class="card right-card">
    <h1 (click)="onClickH1($event)">Organisation du développement professionnel</h1>
    <div class="card-wrapper">
        <ul>
            <li class="accordion" #accordion>
                <span class="year">&nbsp</span> <div class="li-title">Projet professionnel</div> 
            </li>
            <div class = "description">
                Fort de mes compétences acquises en développement et technologies web, j'ai pour projet de continuer mes études jusqu'a un niveau bac +5, pour ensuite travailler dans des métiers orientés autour du développement web / applications mobile.
                <li class="image">
                    <img class="fit-picture"  src="./assets/pictures/pdf_logo.png"/>
                    <div class="li-title"><a href ="./assets/charts/developpement_pro.pdf" target="_blank">Projet professionnel détaillé</a></div> 
                </li>
            </div>

            <li class="accordion" #accordion>
                <span class="year">&nbsp</span> <div class="li-title">Veille technologique</div> 
            </li>
            <div class = "description">

                <li class="accordion" #accordion>
                    <span class="year">&nbsp</span> <div class="li-title">Definition</div> 
                </li>
                <div class = "description">La veille technologique est le processus qui consiste à rester informé des dernières tendances et innovations dans le domaine de la technologie, afin de pouvoir adapter son travail en conséquence.
                </div>
                <div class = "notvisible">
                    <div class="text-invisible">
                        <div>Cela implique de surveiller régulièrement les sources d'information pertinentes, telles que les blogs spécialisés, les forums, les réseaux sociaux, les conférences et les événements, pour découvrir les nouvelles technologies, les outils, les bonnes pratiques et les tendances du marché.
                        </div>
                    </div>
                </div>
                <li class="accordion" #accordion>
                    <span class="year">&nbsp</span> <div class="li-title">Mise en place</div> 
                </li>
                <div class = "description">
                    Retrouver avec <a style="text-decoration: underline;" href ="./assets/charts/veille.pdf">ce document</a> l'explication et l'utilisation des outils permettant de bien mettre en place sa veille technologique, des flux RSS à l'utilisation de google scholars.
                </div>
                <div class = "notvisible">
                    <li class="image">
                        <img class="fit-picture"  src="./assets/pictures/pdf_logo.png" alt="pdf_logo"/>
                        <div class="li-title"><a href ="./assets/charts/veille.pdf" target="_blank">Guide d'utilisation des outils pour mettre en place sa veille</a></div>
                    </li>
                    <div class="text-invisible">
                        Bien mettre en place sa veille technologique :<br>
                        Identifiez les sources d'information pertinentes en fonction de vos centres d'intérêt. Il peut s'agir de sites Web spécialisés, de blogs, de forums, de réseaux sociaux, de newsletters, etc.
                        Utilisez des outils de veille pour automatiser la collecte d'informations telles que Google Alerts, Feedly ou encore Mention.
                        Analysez régulièrement les informations collectées pour repérer les tendances et les évolutions pertinentes pour votre domaine.
                        Partagez les informations avec les membres de votre équipe ou de votre entreprise pour favoriser une culture de l'innovation et de la créativité.
                    </div>
                </div>
                <li class="accordion" #accordion>
                    <span class="year">&nbsp</span> <div class="li-title">Ressources</div> 
                </li>
                <div class = "description">
                    <li class="image">
                        <img class="fit-picture"  src="./assets/pictures/flux_rss_logo.png" alt="flux_rss_logo"/>
                        <div class="li-title"><a href ="https://feedly.com" target="_blank">Feedly (flux Rss)</a></div>
                    </li>
                    <li class="image">
                        <img class="fit-picture"  src="./assets/pictures/google_alerts.jpg" alt="google_alerts"/>
                        <div class="li-title"><a href ="https://www.google.fr/alerts" target="_blank">Google alerts</a></div> 
                    </li>
                    <li class="image">
                        <img class="fit-picture"  src="./assets/pictures/google_scholars.png" alt="google_scholars"/>
                        <div class="li-title"><a href ="https://scholar.google.com/" target="_blank">Google scholars</a></div> 
                    </li>
                </div>
            </div>

            <li class="accordion" #accordion>
                <span class="year">&nbsp</span> <div class="li-title">Environnement d'apprentissage</div> 
            </li>
            <div class = "description">
                <li class="image">
                    <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                    <div class="li-title"><a href ="./assets/charts/envt_apprentissage.pdf" target="_blank">Mise en place d'un environnement d'apprentissage</a></div> 
                </li>
            </div>

            <li class="accordion" #accordion>
                <span class="year">&nbsp</span> <div class="li-title">Identité professionnelle</div> 
            </li>
            <div class = "description">
                <li class="image">
                    <img class="fit-picture"  src="./assets/pictures/github.svg" alt="github_img"/>
                    <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://github.com/Leykh" target="_blank">Github</a></div> 
                </li>
                <li class="image">
                    <img class="fit-picture"  src="./assets/pictures/linkedin.svg" alt="linkedin_img"/>
                    <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://www.linkedin.com/in/ducoeur-corentin-5b5b94277" target="_blank">Linkedin</a></div> 
                </li>
            </div>
        </ul>
    </div>
