<div class="card-container">
    <div (click)="onClickDiv($event)" class="card first-card">

        <h1 (click)="onClickH1($event)">A propos</h1>

        <div class="card-wrapper">
            <div class="profil-wrap"><a href ="https://www.linkedin.com/in/ducoeur-corentin-5b5b94277" target="_blank"><img class ="profil" src="assets/pictures/profil.png"/></a></div>

                <div class="section" (click)="toggleContent('about')">
                    <div class="section-title">{{divs[0].title}}</div>
                          <p *ngIf="showContent['about']" class="section-description">{{divs[0].content}}</p>
                </div>

        </div>
    </div>
</div>