<div class="card-container">
    <div (click)="onClickDiv($event)" class="card left-card">

        <h1 (click)="onClickH1($event)">Formation</h1>

        <div class="card-wrapper">
                <div class="section" (click)="toggleContent('presentation')">
                    <div class="section-title">{{divs[0].title}}</div> 
                          <p *ngIf="showContent['presentation']" class="section-description">{{divs[0].content}}</p>
                </div>

                <div class="section" (click)="toggleContent('stage')">
                    <div class="section-title"></div>
                        <div class="sousSection" *ngIf="showContent['stage']">
                        <p class="section-description"></p>
                        <a :href="" target="_blank"> <img class="picture" :src={{divs[1].content}} alt="imageLinkedin"/></a>
                        </div>

                        <div class="sousSection" *ngIf="">
                            <p class="section-description"></p>
                            <a :href="" target="_blank"> <img class="picture" :src= alt="imageGithub"/></a>
                            </div>
                </div>
        </div>
    </div>
</div>