<body>
    <div id="particles-js"></div>
    <div class="card-container">
        <div (click)="onClickDiv($event)" class="card first-card">
            <h1 (click)="onClickH1($event)">A propos</h1>
            <div class="card-wrapper">
                <div class="profil-wrap"><a href ="https://www.linkedin.com/in/ducoeur-corentin-5b5b94277" target="_blank"><img class ="profil" src="assets/pictures/profil.png"/></a></div>
                <ul>
                    <li class="accordion" #accordion>
                        <span class="year">&nbsp</span> <div class="li-title">Ducoeur Corentin</div>
                    </li>
                    <div class = "description" style="display: block;">Eleve en reprise d'étude, le BTS SIO option SLAM semblait le meilleur moyen pour me réorienter professionellement dans le domaine de l'informatique. Je travaille actuellement chez Imerys en tant que data analyst.
                        <li class="image">
                            <img class="fit-picture"  src="./assets/pictures/cv_logo.png" alt="cv_logo.png"/>
                            <div class="li-title"><a style ="margin-left: 1.4em;" href ="./assets/charts/CV_2023-01-17_DUCOEUR_Corentin.pdf" target="_blank">Mon CV</a></div> 
                        </li>
                    
                        <div class = "notvisible">
                            <li class="accordion" #accordion>
                                <span class="year">&nbsp</span> <div class="li-title">Définitions</div> 
                            </li>
                            <div class = "description">
                                <li class="image">
                                    <span class="year">&nbsp</span>Mon métier, Data BI analyst :
                                </li>
                                <div class="text-invisible">
                                    C'est un métier dans lequel on traite des données afin de s'assurer de leurs qualités et de leurs cohérences dans les différents systèmes informatique de l'entreprise (BI, ERP, CRM).<br>
                                </div>
                                <li class="image">
                                    <span class="year">&nbsp</span>ERP(Enterprise resource planning) :
                                </li>
                                <div class="text-invisible">
                                    C'est un logiciel d'entreprise utilisé principalement pour des opérations de supply chain, comme la facturation, création de client, envoit d'échantillon...<br>    
                                </div>
                                <li class="image">
                                    <span class="year">&nbsp</span>BI(Business Intelligence) :
                                </li>
                                <div class="text-invisible">
                                     C'est un logiciel dans lequelle on va regrouper les données des différents ERP afin de les uniformiser, permettant ainsi que les Business Analysts puissent les interpréter.<br>
                                </div>
                                <li class="image">
                                    <span class="year">&nbsp</span>CRM (customer relationship management):
                                </li>
                                <div class="text-invisible">
                                    Un CRM, c'est un outil informatique qui permet la gestion des relations avec la clientèle, qui a pour ancêtre le carnet de client et permet un bien meilleur suivit de chaque client d'une entreprise, avec un historique de ces échantillons, des opportunités, des autres filiales ...
                                </div>
                            </div>
                        </div>
                    </div>

                    <li class="accordion" #accordion>
                        <span class="year">&nbsp</span> <div class="li-title">Me suivre: </div> 
                    </li>
                    <div class = "description" style="display: block;">
                        <li class="image" style="font-size: x-large">
                            <img class="fit-picture"  src="./assets/pictures/github.svg" alt="github_img"/>
                            <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://github.com/Leykh" target="_blank">Github</a></div> 
                        </li>
                        <li class="image" style="font-size: x-large">
                            <img class="fit-picture"  src="./assets/pictures/linkedin.svg" alt="linkedin_img"/>
                            <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://www.linkedin.com/in/ducoeur-corentin-5b5b94277" target="_blank">Linkedin</a></div> 
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div (click)="onClickDiv($event)" class="card right-card">
                <h1 (click)="onClickH1($event)">Organisation du développement professionnel</h1>
                <div class="card-wrapper">
                    <ul>
                        <li class="accordion" #accordion>
                            <span class="year">&nbsp</span> <div class="li-title">Projet professionnel</div> 
                        </li>
                        <div class = "description">
                            Fort de mes compétences acquises en développement et technologies web, j'ai pour projet de continuer mes études jusqu'a un niveau bac +5, pour ensuite travailler dans des métiers orientés autour du développement web / applications mobile.
                            <li class="image">
                                <img class="fit-picture"  src="./assets/pictures/pdf_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/developpement_pro.pdf" target="_blank">Projet professionnel détaillé</a></div> 
                            </li>
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">&nbsp</span> <div class="li-title">Veille technologique</div> 
                        </li>
                        <div class = "description">

                            <li class="accordion" #accordion>
                                <span class="year">&nbsp</span> <div class="li-title">Definition</div> 
                            </li>
                            <div class = "description">La veille technologique est le processus qui consiste à rester informé des dernières tendances et innovations dans le domaine de la technologie, afin de pouvoir adapter son travail en conséquence.
                            </div>
                            <div class = "notvisible">
                                <div class="text-invisible">
                                    <div>Cela implique de surveiller régulièrement les sources d'information pertinentes, telles que les blogs spécialisés, les forums, les réseaux sociaux, les conférences et les événements, pour découvrir les nouvelles technologies, les outils, les bonnes pratiques et les tendances du marché.
                                    </div>
                                </div>
                            </div>
                            <li class="accordion" #accordion>
                                <span class="year">&nbsp</span> <div class="li-title">Mise en place</div> 
                            </li>
                            <div class = "description">
                                Retrouver avec <a style="text-decoration: underline;" href ="./assets/charts/veille.pdf">ce document</a> l'explication et l'utilisation des outils permettant de bien mettre en place sa veille technologique, des flux RSS à l'utilisation de google scholars.
                            </div>
                            <div class = "notvisible">
                                <li class="image">
                                    <img class="fit-picture"  src="./assets/pictures/pdf_logo.png" alt="pdf_logo"/>
                                    <div class="li-title"><a href ="./assets/charts/veille.pdf" target="_blank">Guide d'utilisation des outils pour mettre en place sa veille</a></div>
                                </li>
                                <div class="text-invisible">
                                    Bien mettre en place sa veille technologique :<br>
                                    Identifiez les sources d'information pertinentes en fonction de vos centres d'intérêt. Il peut s'agir de sites Web spécialisés, de blogs, de forums, de réseaux sociaux, de newsletters, etc.
                                    Utilisez des outils de veille pour automatiser la collecte d'informations telles que Google Alerts, Feedly ou encore Mention.
                                    Analysez régulièrement les informations collectées pour repérer les tendances et les évolutions pertinentes pour votre domaine.
                                    Partagez les informations avec les membres de votre équipe ou de votre entreprise pour favoriser une culture de l'innovation et de la créativité.
                                </div>
                            </div>
                            <li class="accordion" #accordion>
                                <span class="year">&nbsp</span> <div class="li-title">Ressources</div> 
                            </li>
                            <div class = "description">
                                <li class="image">
                                    <img class="fit-picture"  src="./assets/pictures/flux_rss_logo.png" alt="flux_rss_logo"/>
                                    <div class="li-title"><a href ="https://feedly.com" target="_blank">Feedly (flux Rss)</a></div>
                                </li>
                                <li class="image">
                                    <img class="fit-picture"  src="./assets/pictures/google_alerts.jpg" alt="google_alerts"/>
                                    <div class="li-title"><a href ="https://www.google.fr/alerts" target="_blank">Google alerts</a></div> 
                                </li>
                                <li class="image">
                                    <img class="fit-picture"  src="./assets/pictures/google_scholars.png" alt="google_scholars"/>
                                    <div class="li-title"><a href ="https://scholar.google.com/" target="_blank">Google scholars</a></div> 
                                </li>
                            </div>
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">&nbsp</span> <div class="li-title">Environnement d'apprentissage</div> 
                        </li>
                        <div class = "description">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/envt_apprentissage.pdf" target="_blank">Mise en place d'un environnement d'apprentissage</a></div> 
                            </li>
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">&nbsp</span> <div class="li-title">Identité professionnelle</div> 
                        </li>
                        <div class = "description">
                            <li class="image">
                                <img class="fit-picture"  src="./assets/pictures/github.svg" alt="github_img"/>
                                <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://github.com/Leykh" target="_blank">Github</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture"  src="./assets/pictures/linkedin.svg" alt="linkedin_img"/>
                                <div class="li-title"><a style ="margin-left: 1.4em;" href ="https://www.linkedin.com/in/ducoeur-corentin-5b5b94277" target="_blank">Linkedin</a></div> 
                            </li>
                        </div>
                    </ul>
                </div>
        </div>
        <div (click)="onClickDiv($event)" class="card left-card">
                <h1 (click)="onClickH1($event)">Parcours, formation et compétences</h1>
                <div class="card-wrapper">
                    <h2>Parcours professionnel</h2>
                    <ul>
                        <li>
                            <span class="year">Imerys</span> Mon entreprise
                        </li>
                        <div class = "description" style="display: block;">
                            Imerys est une société française multinationale spécialisée dans la production et la transformation des minéraux industriels. Cela fait maintenant 6 ans que je travaille dans la Data et la qualitée de celle-ci pour la division RAC (refractory & abrasives) et ses multiples BI/ERP/CRM.
                            <li class="image">
                                <span class="year">&nbsp</span> Quelques chiffres
                            </li>
                            <div class="text-invisible">
                                Capitalisation	3,1 milliards EUR (2022)<br>
                                Revenus : 3,799 milliards EUR (2020)<br>
                                Nombre d'employés : 13 760 (2023)<br>
                            </div>
                            
                            <li class="accordion" #accordion>
                                <span class="year">2020 - 2023</span> Data/BI Analyst
                            </li>
                            <div class = "description">De 2020 à maintenant chez Imerys, RAC, traitement de la donnée dans la BI Qlikview de la division RAC</div>
                            <li class="accordion" #accordion>
                                <span class="year">2018 - 2020</span> CS Backoffice Assistant
                            </li>
                            <div class = "description">2 ans chez Imerys, PMEMEA / Filtration traitement des échantillons aux backoffice du customer service</div>
                            <li class="accordion" #accordion>
                                <span class="year">2017 - 2018</span> Data quality assistant
                            </li>
                            <div class = "description">1 an chez Imerys, PMEMEA / Filtration</div>
                        </div>
                    </ul>
                    <h2>Diplôme et formation</h2>
                    <ul>
                        <li class="accordion" #accordion>
                            <span class="year">2021</span> <div class="li-title"> BTS SIO</div> 
                        </li>
                        <div class = "description">BTS Services informatiques aux organisations, option solutions logicielles et applications métiers (SLAM), CCI Marseille</div>
                        <li class="accordion" #accordion>
                            <span class="year">2012</span> <div class="li-title"> Baccalaureat</div> 
                        </li>
                        <div class = "description">Baccalaureat générale économie et sociale, à l'école Marcelin Berthelot, Toulouse</div>
                    </ul>
                </div>
        </div>

        <div (click)="onClickDiv($event)" class="card back-card">
                <h1 (click)="onClickH1($event)">Réalisations professionnelles</h1>
                <div class="card-wrapper">
                        <li class="accordion" #accordion>
                            <span class="year">2022/2023</span> <div class="li-title">Projet "PRISM" (pro)</div> 
                        </li>
                        <div class = "description">Migration et harmonisation des BI (Business Intelligence) vers une BI commune, "PRISM" (SAC - SAP Analytics Cloud). Mise en place d'un process de data cleaning d'une BI, d'un suivit de donnée entre la BI et le CRM du groupe. Mise en place et suivie des KPI (Key Indicator Performance) du projet PRISM.
                            Vous pouvez <a href ="./assets/charts/RAC_Prism_project_updates_141221.pptx" target="_blank">retrouver ici</a> une présentation du projet.
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">2022</span> <div class="li-title">GLPI : configuration et installation de fusion inventory</div> 
                        </li>
                        <div class = "description">Installer et configurer GLPI et fusion inventory, avec un <a href ="./assets/charts/GLPI.pdf">guide que vous pouvez retrouver ici</a> sur entre autre comment installer et configurer fusion inventory, gérer un parc informatique et déployer des logicielles.</div>
                        <div class = "notvisible">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/GLPI.pdf" target="_blank">Documentation GLPI</a></div> 
                            </li>
                            <div class="text-invisible">GLPI : Déployer et tester la solution GLPI sur une VM ubuntu, document technique de déploiement, gerer les habilitations, assurer le support aux utilisateurs, créer et gérer des tickets d’incidents. Mettre à jour l'inventaire avec GLPI et fusion inventory -  gérer son parc matériel et logiciel - gérer les contrats, les licences, les fournisseurs, les budgets - administrer l'outil GLPI - installer et configurer l'agent fusioninventory</div>
                        </div>
                        
                        <li class="accordion" #accordion>
                            <span class="year">2022</span> <div class="li-title">Ubuntu : configuration et installation</div> 
                        </li>
                        <div class = "description">Installer et configurer un os Ubuntu sur une machine virtuelle, avec un <a href ="./assets/charts/environnement_ubuntu.pdf">guide que vous pouvez retrouver ici</a> sur entre autre comment installer et configurer un pare-feu, mettre en place un tunnel sécurisé avec SSH, ou encore utiliser un client FTP.</div>
                        <div class = "notvisible">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/environnement_ubuntu.pdf" target="_blank">Documentation ubuntu</a></div> 
                            </li>
                            <div class="text-invisible">Environnement ubuntu sur VM : installer et configurer un os ubuntu, configurer les groupes et comptes utilisateurs, gérer les paquets, analyser le réseau et filtrer le trafic avec un pare-feu, surveiller l'activité du système, créer un tunnel sécurisé avec ssh - utiliser un client ftp.</div>
                        </div>
                        
                        <li class="accordion" #accordion>
                            <span class="year">2022</span> <div class="li-title">Boulange (php)</div> 
                        </li>
                        <div class = "description">Boulange, application web de vente d'ordinateur réalisé avec php. Vous pouvez retrouver <a href ="https://github.com/Leykh/boulange">ici le Repository github</a></div>
                        <div class = "notvisible">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/Leykh/boulange" target="_blank">Repository du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/Leykh/boulange/projects/1" target="_blank">Suivit du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="https://github.com/Leykh/boulange/wiki" target="_blank">Guide utilisateur</a></div> 
                            </li>
                            <div class="text-invisible">Boulange site internet fait en php - site internet de vente d'ordinateur (code source, conception, code de chaque sprint, liste des tâches sous "Github Projects", gestion des incidents via "Github Issues", déploiement de l'application, tests de chaque sprint, documentation technique, document utilisateur)</div>
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">2023</span> <div class="li-title">CAFOMA web</div> 
                        </li>
                        <div class = "description">CAFOMA, application web d'e-learning réalisé en php. Vous pouvez retrouver <a href ="https://github.com/Leykh/formation">ici le Repository github</a>.
                            Il s'agit d'une application que je présenterai pour l'épreuve E5.
                        </div>
                        <div class = "notvisible">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/Leykh/formation" target="_blank">Repository du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/users/Leykh/projects/1" target="_blank">Suivit du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/doc_cafoma_php.pdf" target="_blank">Documentation du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/externe_logo.png" alt="cafoma_logo.png"/>
                                <div class="li-title"><a href ="https://ducoeurc.eu/index.php" target="_blank">Lien vers le site CAFOMA</a></div> 
                            </li>
                            <div class="text-invisible">Plateforme de e-learning (code source, conception, code de chaque sprint, liste des tâches sous Github projetct, déploiement de l'application sur téléphone ou tablette, tests de chaque sprint, documentation technique, document utilisateur)</div>
                            <div class="text-invisible">Gestion des incidents application cafoma : gestion des incidents via "Github Issues" (documentation technique du processus de gestion des incidents, code source, ticket d'incidents,  rapport d'incidents, code corrigé, tests des corrections, "pull request"). </div>
                            <div class="text-invisible">Déploiement application cafoma site internet : déploiement et test d'acceptation d'une application web - tests unitaires et fonctionnels - tests de charges - rapports d'anomalies - correction code source - versionning - intégration continu dans un environnement de préproduction - documentation utilisateur</div>
                        </div>

                        <li class="accordion" #accordion>
                            <span class="year">2023</span> <div class="li-title">CAFOMA Android</div> 
                        </li>
                        <div class = "description">CAFOMA, application mobile d'e-learning réalisé avec android-studio (java). Vous pouvez retrouver <a href ="https://github.com/Leykh/formation-android">ici le Repository github</a>
                            Il s'agit d'une application que je présenterai pour l'épreuve E5.
                        </div>
                        <div class = "notvisible">
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/Leykh/formation-android" target="_blank">Repository du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/github.svg" alt="github.svg"/>
                                <div class="li-title"><a href ="https://github.com/users/Leykh/projects/1" target="_blank">Suivit du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/documentation_logo.png" alt="documentation_logo.png"/>
                                <div class="li-title"><a href ="./assets/charts/doc_cafoma_php.pdf" target="_blank">Documentation du projet</a></div> 
                            </li>
                            <li class="image">
                                <img class="fit-picture" src="./assets/pictures/externe_logo.png" alt="cafoma_logo.png"/>
                                <div class="li-title"><a href ="https://ducoeurc.eu/index.php?action=android" target="_blank">Lien vers le téléchargement de l'apk CAFOMA</a></div> 
                            </li>
                            <div class="text-invisible">Cafoma application Android - application mobile d'accés à des formations e-learning (code source, conception, code de chaque sprint, liste des tâches sous Github - project, déploiement de l'application sur téléphone ou tablette, tests de chaque sprint, documentation technique, document utilisateur)</div>
                        
                            <li  class="accordion" #accordion>
                                <span class="year">&nbsp</span> <div class="li-title">Images de l'application :</div> 
                            </li>
                            <div class = "description">
                                <img style ='width: 11em; height: auto;margin: auto;' src="./assets/pictures/cafoma/cafoma_android_1.png" /><br>
                                <img style ='width: 11em; height: auto;margin: auto;' src="./assets/pictures/cafoma/cafoma_android_2.png" /><br>
                                <img style ='width: 11em; height: auto;margin: auto;' src="./assets/pictures/cafoma/cafoma_android_3.png" /><br>
                                <img style ='width: 11em; height: auto;margin: auto;' src="./assets/pictures/cafoma/cafoma_android_4.png" /><br>
                            </div>

                        <li class="image" style="font-size: x-large">
                            <img class="fit-picture"  src="./assets/pictures/MicrosoftExcel_logo.png" alt="excel_logo"/>
                            <div class="li-title"><a style ="margin-left: 1.4em;" href ="./assets/charts/Epreuve_E4_SIO_2022.xlsx" target="_blank">Tableau de synthèse</a></div>
                        </li>
                </div>
        </div>
    </div>


