html,
body {
  height: 100%;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url('/assets/fonts/RobotoSlab-Regular.ttf') format('truetype');
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
  margin: 0;
  font-family: "RobotoSlab-Regular";
  box-shadow: inset 0 0 20px 0px;
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex; /* Il hérite mais j'le laisse au cas */
  align-items: center;
  justify-content: space-evenly;
}

.card {
  background-color: white;
  border-radius: 2%;
  box-shadow: 5px 5px 5px #888888;
  border: 1px solid #bdbdbd;
  height: 80%;
  width: 40%;
  margin: 5px;
  cursor: pointer;
  position: absolute; /* force à toutes les mettres au même endroit */
  transition: all 1s ease-out; /* plus ou moins, les temps des transitions (. pour les décimales) */
  overflow:hidden;
}
.card:hover {
  box-shadow: 20px 20px 20px #888888;
}

.first-card {
  z-index: 2;
  top: 15%;
  left: 30%;
  right: 0; /* Spécifier l'origine de la transition*/ 

  overflow-y:scroll;
}

.card::-webkit-scrollbar {
  display: none;
}


.first-card:hover {
  top: 13%;
}

.left-card {
  z-index: 1;
  right: 50%;
  left: 9%;
  top: 9.5%;
}

.left-card:hover,
.right-card:hover {
  top: 7%;
}

.right-card {
  z-index: 1;
  left: 50%;
  right: 0;
  top: 9.5%;
}

.back-card {
  z-index: 0;
  top: 4%;
  left: 30%;
  right: 25%;
}

.back-card:hover {
  top: 2%;
}

.selected {
  height: 99%;
  width: 99%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0; /* Spécifier l'origine de la transition*/
  overflow-y:scroll
}

.selected:hover {
  top: 0%;
}

.card ul {
  list-style-type: none; /* enlève les puces */
  padding-block-end: 20px;
  padding-inline-start: 20px;
}

.card li {
  position: relative;
  left: 0;
  background-color: #eeeeee;
  margin: 2em 0em 0.5em 0em;
  padding: 0.3em 0;
  height: 2.2em;
  border-radius: 4px;
  font-size: x-large;
  overflow: hidden;
}

.card li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}
.card .li-title{
  display: inline;
}

.accordion:before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(/assets/pictures/fleche_desc.png); */
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 6%;
  opacity:20%;
}
.arrow-up:before {
  background-image: url(/assets/pictures/fleche_up.png);
}

.arrow-down:before {
  background-image: url(/assets/pictures/fleche_desc.png);
}
.card .description{
  font-size: large;
  width: 75%;
  align-self: center;
  justify-content: center;
  padding-left: 40px;
  display: none; /* Accordéon */
}

.card .year {
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -6px;
  height: 1.95em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.card h1 {
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 2.5em;
}
.card h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 2.5em;
}

.card h1:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.card li.image{
  
  display: flex;
  align-items: center;
  font-size: large;
}

.card li.image .fit-picture{
  width: 2.4em;
  padding-left: 0.8em;
}

.card-wrapper{
  margin: 10%;
}

.card .profil-wrap{
  margin-top: 3em;
  display: flex;
  align-items: center;
}

.card .profil-wrap a{
  margin: auto;
  background-color: black;
  border-radius: 50%;
}

.profil{
  width: 11em;
  height: auto;
  margin: auto;
  margin-top: 3px;
  padding: 0 3px;
  border-radius: 50%;
  transition: all 1s ease-out;
}

.profil:hover{
  opacity:0.7;
}

.card a {
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  margin-left: 1.4em;
}
.card .description a {
  text-align: inherit;
  cursor: pointer;
  text-decoration: none;
  margin-left: 0;
}

canvas {
  display: block;
} /* ---- particles.js container ---- */
#particles-js {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  /* background-image: url(""); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  /* -webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.imageschema {
  width: 25%;
  height: auto;
  margin-left:25%;
}


.text-invisible{
  font-size: large;
  width: 92%;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
}
.text-invisible-list{
  font-size: large;
  width: 80%;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  margin-left:10%;
}
.card-container .notvisible {
  display:none;
}
.selected .notvisible {
  display:inherit;
}

.card-container .enlargeLogo{
  position:inherit;
  left:90%;
  opacity:20%; 
  width:8%;
  padding: 3px 3px 3px 3px;
}


.card-container .enlargeLogo:hover{
  position:inherit;
  left:90%;
  opacity:80%; 
  width:8%;
  padding: 3px 3px 3px 3px;
  transition: all 1s ease-out; 
  overflow:hidden;
}

.bulle {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bulle:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: blue;
}

.bulle img {
  display: block;
  max-width: 100%;
  height: auto;
}